{{#if auth.isAuthenticated}}
<h4>Post A Comment</h4>
<form {{action 'createComment' on='submit' queeresource=queeresource }}>
  {{textarea value=newComment.text placeholder='New Comment'}}
  <br>
  <button class="submit" type="submit">Post Comment</button>
</form>
{{else}}
<h2 class="sign-in-to-post">Sign in to Comment</h2>
{{/if}}
