{{#if auth.isAuthenticated}}
<h3>Post A Comment</h3>
<form {{action 'createComment' on='submit' post=post}}>
  {{textarea value=newComment.text placeholder='New Comment'}}
  <button class="submit" type="submit">Post Comment</button>
  {{message}}
</form>
{{else}}
<h2 class="sign-in-to-post">Sign in to Comment</h2>
{{/if}}
