{{#each queeresource.comments as |comment|}}
<legend>
<div class="comment">{{comment.text}}</div>
{{!-- {{display-user user=comment.user}} --}}
{{#if comment.editable}}
<button {{action 'deleteComment' comment}}>Delete Comment</button>
{{/if}}
</legend>
{{/each}}
