@import 'bootstrap';
@import 'bootstrap/theme';

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.orgtypes {
  float: left;
  // margin: auto;
  // margin-left: 1px;
  // margin-right: 1px;
  margin-top: 10px;
  font-size: 20px;
  height: 200px;
  border-radius: 20%;
  background-color: #8da0cb;
  color: white;
}

.sourcediv {
  background-color: #8da0cb;
  height: 100px;
  width: 30%;
  margin: 1%;
  text-align: center;
  color: white;
  float: left;
}

.myqr {
margin: auto;
width: 20%;
margin-left: 40%;
margin-right: 40%;
font-size: 20px;
border-radius: 20%;
border: 2px solid #8da0cb;
color: black;
}

.comments {
  border-top: 1px solid black;
}
