<h2>Resources for Families and Support Systems</h2>

{{#each model as |queeresource|}}
{{#link-to 'queeresource' queeresource }}<button class='sourcediv' type="button">{{queeresource.name}}</button>{{/link-to}}
{{/each}}
