<h2>Resources by Category</h2>

{{#link-to 'youth-community-spaces' queeresource=queeresource}}<button class='orgtypes' type="button"> Youth Community Spaces </button>{{/link-to}}
{{#link-to 'school-resources' queeresource=queeresource}}<button class='orgtypes' type="button"> School resources </button>{{/link-to}}
{{#link-to 'sa-and-dv' queeresource=queeresource}}<button class='orgtypes' type="button"> Sexual Assault and Domestic Violence </button>{{/link-to}}
{{#link-to 'legal-assistance' queeresource=queeresource}}<button class='orgtypes' type="button"> Legal Assistance </button>{{/link-to}}
{{#link-to 'family-resources' queeresource=queeresource}}<button class='orgtypes' type="button"> Resources for Families and Support Systems </button>{{/link-to}}
{{#link-to 'online-resources' queeresource=queeresource}}<button class='orgtypes' type="button"> Online Guides and Resources </button>{{/link-to}}
{{#link-to 'health-and-wellness' queeresource=queeresource}}<button class='orgtypes' type="button"> Health and Wellness </button>{{/link-to}}
{{#link-to 'training-conferences-and-contd-ed' queeresource=queeresource}}<button class='orgtypes' type="button"> Training, Conferences, and Continuing Education </button>{{/link-to}}
{{#link-to 'performing-arts' queeresource=queeresource}}<button class='orgtypes' type="button"> Performing and Live Arts </button>{{/link-to}}


{{!-- <h2>All Resources</h2>
{{#each model as |queeresource|}}
  <h3>{{#link-to 'queeresource' queeresource }}{{queeresource.name}}{{/link-to}}</h3>
{{/each}} --}}


{{outlet}}
