<h2>Resources</h2>

{{#link-to 'application'}}Go home{{/link-to}}

{{queeresource-form createQr='createQr'}}

<ul>
{{#each model as |queeresource|}}
  <li>{{#link-to 'queeresource' queeresource}}{{queeresource.name}}{{/link-to}}</li>
  {{!-- {{#if queerresource.isEmpty}}
    <button {{action 'deleteList' queerresource}}>Delete List</button>
    {{/if}} --}}
{{/each}}
</ul>


{{outlet}}
