<h2>Resources</h2>

{{#link-to 'application'}}Go home{{/link-to}}
{{#link-to 'myqueeresources'}}Go to my resources{{/link-to}}

{{#each model as |queeresource|}}
  <h3>{{#link-to 'queeresource' queeresource }}{{queeresource.name}}{{/link-to}}</h3>
{{/each}}


{{outlet}}
