<h2>Training, Conferences, and Continuing Education</h2>

{{#each model as |queeresource|}}
{{#link-to 'queeresource' queeresource }}<button class='sourcediv' type="button">{{queeresource.name}}</button>{{/link-to}}
{{/each}}
